<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src='../assets/script.js'></script>


    <title>File Metadata Microservice</title>

  </head>
  <body>

    <main>

      <h1>
        API Project: File Metadata Microservice
      </h1>

      <section>
        <h2>Usage</h2>
        <div id="divForm" class="">
          <form class="" enctype="multipart/form-data" action="/api/fileanalyse" method="POST" data-form>
            <fieldset>
              <legend>Upload a file</legend>
              <input id="inputFile" type="file" name="upfile" value="" placeholder="Browse file" data-form-file>
              <input type="submit" value="Upload">
            </fieldset>
          </form>
        </div>
      </section>


      <footer>
        Developed by <a href="https://github.com/kurotom">@kurotom</a>
      </footer>

    </main>

  </body>
</html>
